// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@font-face {
  font-family: 'Dancing Script';
  src: url('../../assets/DancingScript-VariableFont_wght.ttf');
}

:root {
  --firstColor: #c970f1;
  --secondColor: #ff0f5f;
}

.box {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 24);
  width: fit-content;
  height: 30rem;
  padding: 6rem 3rem;
  border-radius: 10px;
  position: fixed;
  inset: 0rem;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  &-title {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 8rem;
    user-select: none;
    z-index: 2;
  }
  &:before {
    background: linear-gradient(var(--firstColor), var(--secondColor));
    content: '';
    position: absolute;
    width: 70%;
    height: 140%;
    animation: cssBox 3s linear infinite;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 43);
  }
  &:hover {
    .clickMe {
      top: 10%;
    }
  }
}

.clickMe {
  font-family: 'Dancing Script', cursive;
  user-select: none;
  position: absolute;
  left: 40%;
  top: -5%;
  color: white;
  z-index: 10;
  transition: 0.4s;
}

@keyframes cssBox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
