@font-face {
  font-family: 'Dancing Script';
  src: url('../../assets/DancingScript-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/Poppins-ExtraLight.ttf');
}

.glassContainer {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/bubbleglass.jpg');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.glassCard {
  height: 600px;
  width: 400px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-top: 1px rgba(185, 185, 185, 0.3) solid;
  border-right: 1px rgba(185, 185, 185, 0.3) solid;
  // overflow: hidden;
  box-shadow: 0 25px 45px rgba(0,0,0,0.8);
  &Content {
    color: white;
    font-family: 'Poppins', cursive;
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    & .glassTitle {
      font-family: 'Dancing Script', cursive;
      font-size: 8rem;
      margin-top: 100px;
      &::before {
        position: absolute;
        content: 'GLA';
        top: 100px;
        left: 0;
        font-size: 1.8em;
        color: rgba(255, 255, 255, 0.055);
      }
    }
  }
}

.glassButton {
  position: relative;
  height: 30px;
  width: 110px;
  padding-top: 2px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(50px);
  border-top: 1px rgb(185, 185, 185) solid;
  border-right: 1px rgb(185, 185, 185) solid;
  border-radius: 10px;
  z-index: 2;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    // background: linear-gradient(45deg, #B91CA5, #150038);
    border-left: 1px #B91CA520 solid;
    border-bottom: 1px #B91CA520 solid;
    box-shadow: -5px 5px 20px 5px #B91CA5;
    animation: boxShadow 10s linear infinite;
    // background-size: 200%;
    // backdrop-filter: blur(50px);
    transition: 0.5s;
    z-index: -1;
  }
  // &Text {
  //   position: absolute;
  //   display: block;
  //   top: 2px;
  //   left: 1px;
  //   right: 1px;
  //   bottom: 1px;
  // }
}

.square {
  position: fixed;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.5);
  border: 1px rgba(255,255,255,0.5) solid;
  border-right: 1px rgba(255,255,255,0.2) solid;
  border-bottom: 1px rgba(255,255,255,0.2) solid;
  &:first-child {
    top: 10%;
    right: 20%;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    animation: flyingGlassRight 7s ease-in-out infinite;
  }
  &:nth-child(2) {
    top: 20%;
    right: 45%;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    z-index: 2;
    animation: flyingGlass 5s ease-in-out infinite;
  }
  &:nth-child(3) {
    top: 45%;
    right: 70%;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    animation: flyingGlassRight 3s ease-in-out infinite;
  }
  &:nth-child(4) {
    top: 80%;
    right: 85%;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    z-index: 2;
    animation: flyingGlass 3s ease-in-out infinite;
  }
  &:nth-child(5) {
    top: 65%;
    right: 50%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    animation: flyingGlassRight 5s ease-in-out infinite;
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: -5px 5px 20px 5px #B91CA580;
  }
  50% {
    box-shadow: -7px 7px 15px 10px #15003860;
  }
  100% {
    box-shadow: -5px 5px 20px 5px #B91CA580;
  }
}

@keyframes flyingGlass {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}

@keyframes flyingGlassRight {
  0%, 100% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
}
