:root {
  --firstNeumColor: #e5ff00;
  --secondNeumColor: #ff00e0;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/Poppins-ExtraLight.ttf');
}

.neumorphism {
  &Container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ccc;
  z-index: -1;
  }
  // &Text {
  //   font-family: 'Poppins', cursive;
  //   position: relative;
  //   left: 1%;
  //   text-shadow: 5px 5px 15px rgb(0, 2, 99);
  //   font-size: 18rem;
  //   color: #ccc;
  //   opacity: 0;
  //   transition: opacity 2s linear;
  //   // display: none;
  // }
}

.neumorphRing {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid rgb(8, 0, 56,0.2);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.9),
              6px 6px 15px #000,
              inset -6px -6px 15px #000,
              inset 6px 6px 10px rgba(85, 85, 85, 0.1);
  & span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(var(--firstNeumColor),var(--secondNeumColor));
    z-index: 1;
    filter: blur(20px);
    animation: neumRing 1s linear infinite;
  }
  &::before {
    content: '';
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    border: 2px rgb(8, 0, 56,0.2) solid;
    border-radius: 50%;
    background: #ccc;
    box-shadow:inset -4px -4px 3px #00000099,
              inset 4px 4px 3px rgba(255, 255, 255, 0.9);
              z-index: 2;
  }
}

@keyframes neumRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
